header {
  position: absolute;
  height: 100px;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  align-items: center;
  font-family: "Times New Roman", serif;
  color: #FBD05F;
}

.navigation {
  display: flex;
}

.logo {
  padding: 0px 30px;
  font-size: 2rem;
}
.logo:hover {
  color: #8c9013;
  text-shadow: 2px 2px 4px black;
}

.nav-item {
  padding: 0px 25px;
}
.nav-item:hover {
  color: #8c9013;
  text-shadow: 2px 2px 4px black;
}

body{
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main {
  background-color: rgba(0, 0, 0, 0.684);
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
}

.title {
  position: absolute;
  font-family: "Times New Roman", serif;
  font-size: 5rem;
  color: #FBD05F;
  top: 175px;
}
.container {
  display: flex;
  justify-content: center ;
  position: absolute;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  bottom: 0;
  height: calc(100vh - 300px);
  width: 100vw;
  font-family: 'Times New Roman', Times, serif;
  /* background-color: white; */
  text-align: center;
}
.head {
  font-size: 2rem;
  color: #FBD05F;
  top: 175px;
  padding: 50px;
}
.content {
  color: #FBD05F;
  font-size: 1.5rem;
  padding: 50px;
  line-height: 150%;
  font-style: italic;
}