header {
  position: absolute;
  height: 100px;
  width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 20px;
  align-items: center;
  font-family: "Times New Roman", serif;
  color: #FBD05F;
}

.navigation {
  display: flex;
}

.logo {
  padding: 0px 30px;
  font-size: 2rem;
}
.logo:hover {
  color: #8c9013;
  text-shadow: 2px 2px 4px black;
}

.nav-item {
  padding: 0px 25px;
}
.nav-item:hover {
  color: #8c9013;
  text-shadow: 2px 2px 4px black;
}

body{
  background-image: url(../images/background.jpeg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main {
  background-color: rgba(0, 0, 0, 0.684);
  min-height: 100vh;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: start;
  /* background-color: #fff; */
}

.album-container{
  padding: 100px 0;
  display: grid;
  width: 90%;
  /* max-width: 2000px; */
  /* height: auto; */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 100px;
  justify-content: center;
  /* background: #fff; */
}

.album-item {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  height: 350px;
  /* background-color: white; */
}
.showcase {
  position: absolute;
  height: 350px;
  object-fit: contain;
  filter: brightness(40%);
}
.album-item a {
  position: absolute;
}
.album {
  height: 250px;
  object-fit: contain;
  border-radius: 3px;
  box-shadow: 5px 0 4px black;
  filter: brightness(60%);
}
.album:hover {
  box-shadow: 10px 0 10px black;
  filter: brightness(100%);
}
.album-info {
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  bottom: 0;
  text-shadow: 4px 4px 4px black;
}
.album-artist {
  color: #af892a;
  /* color: rgb(91, 111, 31); */
  font-size: 1.3rem;
  /* padding: 10px 0; */
}
.album-title {
  /* color: #af892a; */
  color: #FBD05F;
  font-size: 1.5rem;
  padding-top: 5px;
}